.controls{
    padding: 35px;
    background-color: #6aa49d;
    margin: 0 0 10px 0;
    border-radius: 8px;
}
.controls label{
    display: inline-block;
    margin-left: 10px;
}
.countQuestions{
    float: right;
}
.controls p{
    font-size: 16px;
    font-weight: 600;
}

