.qTag{
    padding: 1.2rem 2rem;
    margin-bottom: 0.3rem;
    background: #9ac9b8;
}
.qTag i{
    font-size:30px;
}
.wrongQ{
    color: red;
}
.rightQ{
    color: green;
}
.intialQ{
    color: black;
}
.m{
    display: flex;
}
.question{
    flex: 14;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.trash{
    flex: 1;
    cursor: pointer;
}
.qTag div{
    font-size: 16px;
    line-height: 30px;
}
.cong{
    text-align: center;
}